// font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@mixin regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

@mixin bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

// colors

$black: #020203;
$red: #E60000;
$grey: #74798C;
$bg-grey: #FBFBFB;


  .linechart {
    position: relative;
    background-color: $red;
    min-width: 12rem;
    height: 12rem;
    border-radius: 5px;
    @include medium;
    font-size: 14px;
    @media (min-width: 1440px) {
      width: 17rem;
      height: 17rem;
    }
    .recharts-surface {
      max-width: 100%;
      max-height: 100%;
    }
    &__title {
      color: rgba(255, 255, 255, 0.50);
      position: absolute;
      top: 1rem;
      left: 1rem;
    }
  }