// font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@mixin regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

@mixin bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

// colors

$black: #020203;
$red: #E60000;

//

.content {
  display: flex;
  flex-direction: row;
  .maincontent {
    margin: 2rem 4rem;
    height: auto;
    &__title {
      display: flex;
      flex-direction: row;
      color: $black;
      &__name {
        color: $red;
        margin-left: 0.5rem;
      }
    }
    &__applause {
      @include regular;
      color: $black;
      font-size: 18px;
      margin-top: 1rem;
    }
  }
}